* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #18181E;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #fafafa;
}

.full-width {
  width: 100%;
}

.center {
  margin: auto;
  width: 1280px;
}

#introText {
  padding: 0 50px 50px 0;
  font-size: 16px;
  line-height: normal;
}

#introTextContainer {
  font-size: 25px;
  line-height: 40px;
  display: flex;
}

#menu {
  height: 120px;
}

#intro {
  background-color: #5BC4BF;
  padding: 40px 0;
}
#intro, #home-img {
  flex: 1;
}

#home-img > img {
  width: 100%;
}

#introText-title {
  padding-bottom: 45px;
}

#introText-title, #introText-emph {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  font-family: 'EB Garamond', sans-serif;
}

#introText-emph {
  color: #FFFFFF;
}

#name {
  position: relative;
  top: 15px;
}

#name > p {
  font-weight: bold;
}

#name a {
  text-decoration: none;
  font-weight: bold;
}

#portfolio, #whoami {
  position: absolute;
  top: 40px;
}

#portfolio {
  right: 200px;
}

#whoami {
  right: 50px;
}

#links{
  display: flex;
  align-items: center;
}

#links > a > img {
  margin: 8px 8px 0 0;
  height: 25px;
  width: 25px;
}

#KPIs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.KPI > p {
  font-weight: bold;
  font-size: 20px;
}

.measure {
  margin-top: 16px;
  background-color: #5BC4BF;
  width: 150px;
  height: 10px;
}

.done {
  background-color: #18181E;
  height: 100%;
  transition: width 0.5s linear;
  width: 0px;
}

#showwork {
  background-color: #18181E;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  font-family: 'EB Garamond', sans-serif;
}

#currentCases-container {
  background-color: #5BC4BF;
  height: 417px;
}

#currentCases {
  padding-top: 50px;
}

#currentCases > h1 {
  font-weight: bolder;
  font-size: 35px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

#currentCases > p {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
}

#arrowUp {
  position: fixed;
  right: 30px;
  top: 80vh;
  z-index: 1;  
  transition: opacity 0.2s linear;
  cursor: pointer;
}

#copyright {
  background-color: #18181E;
  height: 100px;
  padding-top: 37px;
}

#copyright > div > p {
  color: #FFFFFF;
  font-size: 14px;
}

#showcase {
  position: relative;
  top: -200px;
}

#showcase > .center {
  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  width: 33%;
}

.showcase-item > img {
  width: 100%;
}

#logo-design, #sticker-design {
  height: 500px;
  background-color: rgb(255,250,240);
}

.design-content > h3 {
  font-weight: bold;
  font-family: 'EB Garamond', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.design-content{
  padding-top: 80px;
  width: 300px;
  padding-left: 30px;
}
  
}

.design-content > h2,
.design-content > h3 {
  font-size:30px;
}

.line {
  border-bottom: 4px solid #5BC4BF;
  width: 90px;
}

.watch-work {
  padding-top: 60px;
  font-size: 16px;
  width: 180px;
  cursor: pointer;
  align-self: center;
}

#teo {
  position: relative;
  top: -7px;
}